@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
 
body {
    font-family: 'Montserrat', sans-serif;
}


.navigation {
    background-color: #065F46;
    padding : 1rem;
    -ms-flex-align: end;
    border-bottom-left-radius: 2rem;
}

.link {
    text-decoration: none;
    color : white;
    padding : 1rem;
  
}

.brand {
    color : white;
}

.nav-pills {
    text-align : right;
}
.hero-image {
    max-width: 25rem;
}

.name {
    font-weight: bold;
    color:#4B5563;
}