@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
 
body {
    font-family: 'Montserrat', sans-serif;
}


.navigation {
    background-color: #065F46;
    padding : 0.8rem;
    border-bottom-left-radius: 2rem;
    max-width: 70rem;
    margin-left:auto;
    margin-right: auto;
    margin-top: -10px;
    padding-bottom: 1rem;
}

.link {
    text-decoration: none;
    color : white;
    padding : 1rem;
  
}

.brand {
    color : white;
}

.nav-pills {
    text-align : right;
    padding-right: 7rem;
}
.hero-image {

   max-width: 33rem;
    display : block;
    margin: auto;
    margin-top: 4rem;

    
}

.name {
    font-weight: bold;
    color:#4B5563;
    text-align: center;
    font-size: 1.7rem;
    margin-top: 4rem;
    
    
  
}

.name2 {
    font-weight: bold;
    color:#4B5563;
    text-align: center;
    margin : 5px;
    font-size: 2.2rem;
  
}

.name1 {
    font-weight: bold;
    text-align: center;
    color: #065F46;
    margin: 0px;
    margin-bottom: 3rem;
    
}

.offwhite{
    background-color : #F3F4F6;
    padding-bottom : 3rem;
    padding-top: 1rem;
    border-radius: 2rem;
    max-width: 70rem;
    margin : auto

}

.tech {
    color:#000000;
    text-align: center;
    padding-bottom: 1rem;

}

.tech1{
    color: #4B5563;
    text-align: center;
    margin-bottom: 2.4rem;
}

.white {
    background-color : #fff;
    padding-bottom : 3rem;
    padding-top: 1rem;
    border-radius: 2rem;
    max-width: 70rem;
    margin : auto;
    

}

.last-section{
    margin-bottom: 3rem;
}

.primary-button {
    background-color: #047857;
    border-radius: 3rem;
    text-align: center;
    color : #fff;
    padding: 1rem;
    font-size: 0.9rem;
    margin-left: 31.6rem;
    
 }
.secondary-button {
    border-width: 0.08rem;
    border-color: #047857 ;
    border-radius: 3rem;
    text-align: center;
    color : #047857;
    padding: 1rem;
    font-size: 0.9rem;
    margin-left: 31.8rem;
    border-style: solid;

} 

.foot {
    padding :4rem;
    background-color:  #065F46;
    margin-top: 4rem;
    max-width: 70rem;
    margin : auto;
    border-top-right-radius: 2rem;
    margin-bottom: -10px;
}

.footer-title {
    font-weight: bold;
    text-align: center;
    color : white;
    padding-bottom: 1.5rem;

}

.footer-elements{
    text-align: center;
}

.link2 {
    text-decoration: none;
    color : white;
    padding : 2rem;
  
  
}

.projects {
    font-size: 2rem;
    text-align: center;
    margin-top: 4rem;
    color: #374151;
    margin-bottom: 4.8rem;
    font-weight: bold;
}
.date {
    text-align: center;
    font-weight:300;
    margin-top: -20px;
    margin-bottom: 30px;
}

.offwhite-projects {
    background-color : #F3F4F6;
    padding-bottom : 3rem;
    padding-top: 1rem;
    border-radius: 2rem;
    max-width: 60rem;
    margin : auto;
    margin-bottom: 2rem;

}

.primary-button-projects {
    background-color: #047857;
    border-radius: 3rem;
    text-align: center;
    color : #fff;
    padding: 1rem;
    font-size: 0.8rem;
    margin-left: 23rem;
    margin-top: 38px;

}

.secondary-button-projects {
    border-width: 0.08rem;
    border-color: #047857 ;
    border-radius: 3rem;
    text-align: center;
    color : #047857;
    padding: 0.9rem;
    font-size: 0.8rem;
    margin-left: 32rem;
    border-style: solid;
    margin-top: -33px;
    position: absolute;
}

.white-projects {
    background-color : #FFF;
    padding-bottom : 3rem;
    padding-top: 1rem;
    border-radius: 3rem;
    max-width: 60rem;
    margin : auto;
    margin-bottom: 1rem;
}